# Admin Session
ADMIN_SESSION_SECRET=

# Email
# RESEND_API_KEY=
# RESEND_DOMAIN=
#
# Payments
# NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
# PAYSTACK_SECRET_KEY=
#
# Cloudinary
# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=
